{% extends 'base.html' %}
{% load static %}

{% block head_links %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script type="text/javascript">
    var enableBtn = () => {
        document.querySelector('#submit-btn').disabled = false
    }
    var disableBtn = () => {
        document.querySelector('#submit-btn').disabled = true
    }
</script>
{% endblock head_links %}

{% block content %}
<section class="email-container">
    <h1>Contact</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <i class="far fa-envelope fa-2x"></i>
            <form action="?" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="g-recaptcha mb-1" data-sitekey="{{ reCAPTCHA_site_key_v2 }}" data-callback="enableBtn" data-expired-callback="disableBtn"></div>
                <div class="form-actions">
                    <button class="btn btn-primary" id="submit-btn" type="submit" disabled>Send</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock content %}
    
{% block foot_links %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/js/all.min.js"></script>
{% endblock foot_links %}