{% extends 'base.html' %}


{% block content %}
    
    <section class="container">
        <h1>Contact</h1>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </form>

            </div>
            <div class="col-md-3"></div>
        </div>

    </section>

{% endblock content %}
    