body{
    background-color: rgba(135, 206, 250, 0.4);
}
main{
    background-color: rgb(235, 245, 255);
    padding: 1em;
}
main div h1{
    border-bottom: 1px solid rgba(119, 136, 153, 0.5);
    margin-bottom: 1em;
}
main img{
    width: 100%;
    height: auto;
    padding: 1em;
}
.post-entry{
    border: 2px solid lightgray;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    margin: 2em 0;
    padding: 1em;
}