body{
    background-color: rgba(135, 206, 250, 0.25);
}
main{
    background-color: white;
    padding: 1em;
}
main img{
    width: 100%;
    height: auto;
    padding: 1em;
}
.post-entry{
    border: 2px solid lightgray;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    margin: 2em 0;
    padding: 1em;
}