html{
    scroll-behavior: smooth;
}
body{
    background-color: slategrey;
}
div.home-container{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-position: center;
}
div.home-container:nth-of-type(1){
    background-image: url("https://images.unsplash.com/photo-1524311514036-57856b08ffd0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80");
}
div.home-container:nth-of-type(2){
    background-image: url("https://images.unsplash.com/photo-1556124127-777e4227941b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1918&q=80");
}
div.home-container:nth-of-type(3){
    background-image: url("https://images.unsplash.com/photo-1574940111813-7bfe49381c7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjcyMDE3fQ&auto=format&fit=crop&w=1868&q=80");
}
div.home-container > div{
    margin: auto;
    margin-top: 75px;
    padding: 1em;
    grid-row: 2;
    text-align: center;
    border-radius: 15px;
    max-width: 550px;
    font-size: x-large;
}
div.home-container div p, 
div.home-container div ul, 
div.home-container div h1,
div.home-container div h3{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: .25em;
}
div.home-container div ul{
    list-style-type: none;
}
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger-inner{
    background-color: rgb(226, 226, 226);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main{
        background-size: 168%;
    }
    div.home-container{
        background-size: 168%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main{
        background-size: 100%;
    }
    div.home-container{
        background-size: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
