html{
    scroll-behavior: smooth;
}
body{
    background-color: slategrey;
}
div.home-container{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-position: center;
}
div.home-container:nth-of-type(1){
    background-image: url("https://images.unsplash.com/photo-1548704686-f0a484c1bd67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80");
}
div.home-container:nth-of-type(2){
    background-image: url("https://images.unsplash.com/photo-1445916999081-eee032425401?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}
div.home-container:nth-of-type(3){
    background-image: url("https://images.unsplash.com/photo-1542752787-2aed8c063c8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=603&q=80");
}
div.home-container > div{
    margin: auto;
    padding: 1em;
    grid-row: 2;
    text-align: center;
    border-radius: 15px;
    max-width: 550px;
    font-size: x-large;
}
div.home-container div p, 
div.home-container div ul, 
div.home-container div h1,
div.home-container div h3{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: .25em;
}
div.home-container div ul{
    list-style-type: none;
}
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger-inner{
    background-color: rgb(226, 226, 226);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main{
        background-size: 168%;
    }
    div.home-container{
        background-size: 168%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main{
        background-size: 100%;
    }
    div.home-container{
        background-size: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


/* animated icon stuff */
div.animation-box{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 50px;
    width: 50px;
    margin: 1em auto;
}
div.animation-box div{
    grid-row: 2;
    grid-column: 2;
    margin: auto;
    border-radius: 50%;
}
div.animation-box div:nth-of-type(1){
    height: 15px;
    width: 50px;
    background-color: rgba(144, 238, 144, 0.5);
    animation: rotation 2s infinite linear;
}
div.animation-box div:nth-of-type(2){
    height: 50px;
    width: 15px;
    background-color: rgba(255, 182, 193, 0.5);
    animation: rotation 3s infinite linear reverse;
}
div.animation-box div:nth-of-type(3){
    height: 15px;
    width: 50px;
    background-color: rgba(240, 128, 128, 0.5);
    animation: rotation 4s infinite linear;
}
div.animation-box div:nth-of-type(4){
    height: 50px;
    width: 15px;
    background-color: rgba(173, 216, 230, 0.5);
    animation: rotation 5s infinite linear reverse;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359.99deg);
    }
}