html{
    scroll-behavior: smooth;
}
body{
    background-color: slategrey;
}
div.home-container{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}
div.home-container:nth-of-type(1){
    background-image: url("https://images.unsplash.com/photo-1548704686-f0a484c1bd67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80");
    background-size: cover;
    background-attachment: fixed;
}
div.home-container:nth-of-type(2){
    background-image: url("https://images.unsplash.com/photo-1542752787-2aed8c063c8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=603&q=80");
    background-size: cover;
    background-attachment: fixed;
}
div.home-container div{
    margin: auto;
    padding: 0;
    grid-row: 2;
    text-align: center;
}
div.home-container div h1{
    background-image: radial-gradient(
        rgba(211, 211, 211, 0.6), 
        rgba(211, 211, 211, 0.4), 
        rgba(211, 211, 211, 0.2), 
        rgba(211, 211, 211, 0.1)
    );
    padding: .5em;
    border-radius: 15px;
}