{% extends 'base.html' %}


{% block content %}
    <h1>Blog</h1>
    <a class="btn btn-primary" href="{% url 'post-list-all' %}">All Posts</a>
    <a class="btn btn-primary" href="{% url 'category-list' %}">Categories</a>    
    {% if user.is_authenticated %}
    <a class="btn btn-success" href="{% url 'post-new' %}">New Post</a>
    {% endif %}
        
        {% for post in object_list %}
            <div class="post-entry">
                {% if post.published == False %}
                <h4 class="bg-warning p-1">This post is not published.</h4>
                {% endif %}
                <h2><a href="{% url 'post-detail' post.pk post.slug %}">{{ post.title }}</a></h2>
                <p>{{ post.body|truncatewords_html:50|safe }}</p>
            </div>
        {% endfor %}
{% endblock content %}
    