{% extends 'base.html' %}


{% block content %}
    <h1>Delete Post: {{ post.title }}</h1>
    <p>{{ post.body|safe }}</p>
    <p>Author: {{ post.author }}</p>
    <p>Created at: {{ post.created_at }}</p>
    <p>Slug: {{ post.slug }}</p>
    <p>pk: {{ post.pk }}</p>
    <form action="" method="POST">{% csrf_token %}
        <h4>Are you sure you want to delete "{{ post.title }}"?</h4>
        <input class="btn btn-danger" type="submit" value="Confirm" />
        <a href="{% url 'post-detail' post.pk post.slug %}" class="btn btn-warning">Cancel</a>
    </form>
{% endblock content %}