{% extends 'base.html' %}
{% load static %}

{% block head_links %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
{% endblock head_links %}

{% block content %}
<section>
    <h1>Frontend Prototypes</h1>
    <div class="pb-3">
        Back to <a href="{% url 'portfolio' %}">Portfolio</a>
    </div>
    <div class="portfolio-container">
        <div>
            <iframe src="https://mppatterson84.github.io/compass_slider" frameborder="0" height="667" width="375"></iframe>
            <p>1Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt id quasi culpa a esse nostrum facere consequatur omnis dolorum aspernatur accusamus sit, sunt modi accusantium iusto quas explicabo maxime obcaecati?</p>
        </div>
        <div>
            <p>2Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nostrum quis modi vitae facilis pariatur ipsa accusantium natus ex numquam dicta odio dolorem reiciendis, earum, explicabo corporis odit saepe deleniti!</p>
            <iframe src="https://mppatterson84.github.io/animated_background_gradient" frameborder="0" height="667" width="375"></iframe>
        </div>
        <div>
            <iframe src="https://mppatterson84.github.io/scroll_progress" frameborder="0" height="667" width="375"></iframe>
            <p>3Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia laborum voluptatum quisquam minima neque iure facilis, quis quia veniam dolorum dignissimos, cupiditate sequi deleniti esse. Molestias molestiae repudiandae dicta quia!</p>
        </div>
        <div>
            <p>4Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic neque deserunt molestias architecto temporibus natus totam numquam nemo, quis eius optio culpa amet iste officia velit corrupti. Quisquam, error perspiciatis?</p>
            <iframe src="https://mppatterson84.github.io/parallax" frameborder="0" height="667" width="375"></iframe>
        </div>
    </div>
</section>
{% endblock content %}