{% extends 'base.html' %}
{% load static %}


{% block head_links %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head_links %}


{% block main_container %}
<main>
{% endblock main_container %}


{% block content %}
<div class="home-container" id="home">
    <div>
        <h1 class="display-4">Mike Patterson</h1>
        <p>Full stack web developer.<br>Python and Django enthusiast.</p>
        <a href="#more" class="btn btn-primary btn-lg m-3">Start Here</a>
    </div>
</div>
<div class="home-container" id="more">
    <div>
        <h3>What I Do</h3>
        <p>I build websites and web apps.</p>
        <a href="#even-more" class="btn btn-primary btn-lg m-3">Continue</a>
    </div>
</div>
<div class="home-container" id="even-more">
    <div>
        <h3>Technologies I Work With</h3>
        <ul>
            <li>Python and Django</li>
            <li>Django REST Framework</li>
            <li>HTML, CSS, and Javascript</li>
            <li>PostgreSQL</li>
            <li>Node.js and React</li>
            <li>RESTful APIs</li>
        </ul>
        <a href="{% url 'about' %}" class="btn btn-primary btn-lg m-3">Find Out More</a>
    </div>
</div>
{% endblock content %}

{% block foot_links %}
<script type="text/javascript" src="{% static 'js/zenscroll-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock foot_links %}
    