{% extends 'base.html' %}
{% load static %}


{% block css_file %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css_file %}


{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
{% endblock navbar %}


{% block main_container %}
<main>
{% endblock main_container %}


{% block content %}
<div class="home-container" id="home">
    <div>
        <h1 class="display-4">Mike Patterson</h1>
        <p>Full stack web developer. Python and Django enthusiast. PostgreSQL. HTML, CSS, Javascript, and React.</p>
        <a href="#more" class="btn btn-primary btn-lg m-3">Start Here</a>
    </div>
</div>
<div class="home-container" id="more">
    <div>
        <h1>Welcome</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae assumenda veniam modi, error minima repudiandae maiores officiis quisquam. Nostrum, et!</p>
        <a href="#even-more" class="btn btn-primary btn-lg m-3">Continue</a>
    </div>
</div>
<div class="home-container" id="even-more">
    <div>
        <h1>Hello, Again!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, molestias.</p>
        <a href="{% url 'about' %}" class="btn btn-primary btn-lg m-3">Find Out More</a>
    </div>
</div>
{% endblock content %}

{% block js_file %}
<script type="text/javascript" src="{% static 'js/zenscroll-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock js_file %}
    