{% extends 'base.html' %}
{% load static %}

{% block head_links %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
{% endblock head_links %}

{% block content %}
<section>
    <h1>Portfolio</h1>
    <div class="py-3">
        
        <h3>Frontend Prototypes</h3>
        <p>
            <a href={% url 'frontend' %}>Here</a> is a collection of frontend projects that I built using HTML, CSS, and Javascript.
        </p>
    </div>
    <div class="py-3">
        <h3>Django Projects</h3>
        <p>
            My personal website and <a href="{% url 'blog' %}">blog</a> is built with django.
            <img src="{% static 'images/blog.png' %}" alt="michael-patterson.com screenshot" />
        </p>
    </div>
</section>
{% endblock content %}
    