{% extends 'base.html' %}
{% load static %}


{% block css_file %}
<link rel="stylesheet" href="{% static 'css/splash.css' %}">
{% endblock css_file %}


{% block navbar %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
{% endblock navbar %}


{% block content %}
<div id="landing-header">
    <h1>Welcome</h1>
    <p>Look at the pretty pictures then...</p>
    <a href="{% url 'blog' %}" id="btn1" class="btn btn-lg btn-primary">Continue on</a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
{% endblock content %}