{% extends 'base.html' %}


{% block content %}
<section>
    <h1>Blog Categories</h1>
    <a class="btn btn-primary" href="{% url 'blog' %}">Blog</a>
    {% if user.is_authenticated %}
    <a class="btn btn-success" href="{% url 'category-new' %}">New Category</a>
    {% endif %}
        

    <form method="GET" action="/blog/categories/filter/">
        
        {% for category in object_list %}
        <div class="post-entry d-flex">
        
            <input class="btn btn-light" type="submit" name="category" value="{{ category.category_name }}">
            
            {% if user.is_authenticated %}
            <div class="ml-auto">
                <a class="btn btn-danger btn-sm" href="{% url 'category-delete' category.slug %}">Delete</a>
            </div>
            {% endif %}

        </div>
        {% endfor %}

    </form>
</section>
{% endblock content %}